.nav-link{
  padding: 0 10px !important;
  font-weight: 800 !important;
  font-size: 15px !important
}
body{
  font-family: 'Odibee Sans', cursive;
  font-size: 40px;
}
.error{
 
    font-family: 'Odibee Sans', cursive !important;
    font-size: 40px !important;

}
.navbar-brand{
  font-weight: 800 !important;
  font-size: 25px !important;
  color: skyblue !important;
}

.link_text{
  color: skyblue !important;
}
.banner{
  background-color: skyblue;
  border-radius: 10px;
   
}
.banner .container {
  padding: 30px;
  text-align: center;
}
.logo-font{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 900;
  font-size: 70px;
  color: aliceblue;
}
.banner .container p{
  color: aliceblue;
 
}